<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-12 homepage_bg">
       <div class="imageAndText">
            <div class="layer">
        
                <div id="revolution">
                    <h1> DISCOVER A NEW WAY TO </h1>
                    <h1> STYLE YOURSELF </h1>
                </div>
                <div id="pull-left">
                    <h5> Give us details and get access </h5>
                    <h5> to more information about our launch </h5>
                    <h5>and future oppurtunities to win some prizes </h5>
                </div>
                <%#= render 'form' %>
            </div>
      </div>
   </div>
</div>

</div>
 -->
<style>
body {
  background-image: url(assets/home/fashion_banner.jpg);
  background-color: white; 
  background-repeat: no-repeat;  
  background-attachment: scroll;  
  background-position: 0% 0%;
  background-size: cover;
  opacity: 0.8;
}

#revolution > h1 {
  color: #fff;
}

#pull-left > h5 {
  color:  #C0C0C0 ;
}
</style>
<body>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
    <% if Rails.application.config.ended %>
        <div id="revolution">
              <h1> DISCOVER A NEW WAY TO </h1>
              <h1> STYLE YOURSELF </h1>
            </div>
            <div id="pull-left">
              <h5> Give us details and get access </h5>
              <h5> to more information about our launch </h5>
              <h5>and future oppurtunities to win some prizes </h5>
            </div>
        <p class="again brandon">Thank You Again!</p>
    <% else %>
        <div class="key"></div>
        <p class="byline brandon">Be the first to know</p>
        <%= form_for @user, :url => { :action => "create" } do |f| %>
            <%= f.text_field :email, :placeholder => "Enter Email", :class => "email brandon" %>
            <input class="submit brandon" name="commit" type="submit" value="Step Inside" />
        <% end %>
    <% end %>
</div>

</body>